name: OC-58641 Unit test
on:
  push:
    branches:
      - OC-58641_Debugging
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    name: Check unit test
    timeout-minutes: 30
    runs-on: macos-15
    env:
      XCODE_VERSION: "26.2"

    steps:
      - name: Set Xcode
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer

      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: List Simulators
        run: xcrun simctl list devices

      - name: Run unit test
        run: >
          xcodebuild test
          -workspace material-carthage-ios.xcworkspace
          -scheme material-carthage-ios
          -destination 'platform=iOS Simulator,name=iPhone 17,OS=26.2'
          2>&1 | xcbeautify && exit ${PIPESTATUS[0]}
