name: Unit test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit-test:
    name: Check unit test
    timeout-minutes: 30
    runs-on: macos-15
    steps:
      - name: Set Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.3.app/Contents/Developer


      - name: Checkout project
        uses: actions/checkout@v4

      - name: Install xcbeautify
        run: brew install xcbeautify

      - name: Run unit test
        run: ./Tools/Test/run-unit-tests.sh
